.App {
  text-align: center;
  align-items: center;
}

.Image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 80vh; 
  margin: 10vh 10vw; 
  overflow: hidden;
}

.Image {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.Draggable-div {
  position: absolute;
  margin-top: 5px;
  background-color: rgba(28, 28, 28, 0.5);
  font-size: larger;
  font-weight: 300;
  color: white;
  cursor: grab;
  user-select: none;
  overflow: hidden; 
}

.ResizableInput {
  width: 100%;
  min-width: 100px;
  resize: both;
  padding: 5px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  color: white;
}

.ResizableInput:empty::before {
  content: attr(data-placeholder);
  color: rgba(255, 255, 255, 0.5);
}
